<head>
	<link rel="stylesheet" href="/static/mainstyle.css" >
	<div  style="font:Arial">
		<h1>
			<span style="font-size: 28px; font-family: tahoma, geneva, sans-serif; ">
			<span style="color:#0000cd;">e</span>AgriBiz </span>|&nbsp;<span style="color:#696969;">
			<span style="font-family: tahoma, geneva, sans-serif; font-size: 22px; ">
			Bridging gaps</span></span>
		</h1>
	</div>
</head>

<body>

<hr noshade size=4 width="33%" align=left>

<form method="post">
    <table>
        <tr> <td> Username: </td> <td> <input type="text" name="username" class="mytextfield" /> </td> </tr>
        <tr> <td> Password: </td> <td> <input type="password" name="user_password" class="mytextfield"/> </td> </tr>
    </table>
    <input type="submit" value="Log In" name="login_button" class="button3"/>
</form>

<hr size=3 width="33%" align=left>

<div>
Not yet a user? <br> Sign-up now!<br>
<a href="http://localhost:8000/sign_up">Sign Up</a>
</div>

</body>