<head>
    <link rel="stylesheet" href="/static/mainstyle.css" >
    <div  style="font:Arial">
        <h1>
            <span style="font-size: 28px; font-family: tahoma, geneva, sans-serif; ">
            <span style="color:#0000cd;">e</span>AgriBiz </span>|&nbsp;<span style="color:#696969;">
            <span style="font-family: tahoma, geneva, sans-serif; font-size: 22px; ">
            Bridging gaps</span></span>
        </h1>
    </div>
</head>

<hr noshade size=4 width="50%" align=left>

<body>
<div>
	<form>
		<input type="text" name="search_query" class="searchbar"/>
		<input type="submit" value="Search" class="button3">
	</form>
</div>
<hr noshade size=4 width="50%" align=left>

<div>
<table>
    <tr> <td> <h3> {{ dealer_name }} </h3> </td>  </tr>
    <tr> <td> <h4> My Transactions </h4> </td> </tr>
</table>
</div>

<br>
<div>
    <table>
        <tr> <td> <a href="http://localhost:8000/profile"> My Profile </a> </td> <td> </td> </tr>
        <tr> <td> <a href="http://localhost:8000/my_transactions"> My Transactions </a> </td> <td> </td> </tr>
        <tr> <td> <a href="http://localhost:8000/my_store"> My Store </a> </td> </tr>
		<tr> <td> <a href="http://localhost:8000/my_carts">My Carts<a> </td> <td> </td> </tr>
        <tr> <td> <a href="http://localhost:8000/log_out">Logout <a> </td> <td> </td> </tr>
    </table>
</div>

<hr size=3 width="50%" align=left>

<div>
    <a href="http://localhost:8000/">Home</a>
</div>

</body>